.img {
	background: #f2f4f5;
	color: #c1c9d0;
	line-height: 150px; //centers text in div
	width: 200px;
	height: 150px;
	text-align: center;
	margin-bottom: 20px;
}

.img-outline {
	border: 1px solid #c1c9d0;
}

.img-link { //used example "image link" div
	border: 1px solid #1F3340;	
}

.img-thumb {
	//what's the purpose of this?
}

a img {
	border: 1px solid #1F3340;
}