#nav-menu
{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;

    width: 350px;
    height: 100vh;
    padding: 10px 0 0 0;

    opacity: .98;
    background: #1f3340;

    right: -350px;
    transition:right 0.5s ease-in-out;
}

#nav-menu.show-menu {
    right: 0px;
    transition:right 0.5s ease-in-out;
}

#nav-menu li
{
    margin: 0 0 2px 0;

    list-style-type: none;

    background: lighten(#1f3340, 10%);
}

#nav-menu ul
{
    padding: 0;
}

#nav-menu a
{
    font-family: 'Source Sans Pro';
    font-size: 22px;

    display: inline-block;

    width: 100%;
    padding: 5px 15px 5px 15px;

    color: #fff;
    outline: 0;
}

#nav-menu a.nav-active {
    color: #ccc;
    background-color: lighten(#1f3340, 5%);
}

a#menu-open {
    width: 40px;
}

#nav-menu a:hover, #nav-menu a:active, #nav-menu a:focus
{
    text-decoration: none;
    color: #ccc;
    background-color: lighten(#1f3340, 5%);
}



.menu-logo
{
    margin: 15px;

    text-align: center;

    color: #fff;
}

.menu-header
{
    font-family: 'Oswald Light';
    font-size: 30px;

    margin: 15px;
    margin-top: 90px;

    color: #fff;
}

#menu-open
{
    position: absolute;
    z-index: 2;
    top: 20px;
    left: -40px;

    width: 40px;
    height: 40px;
    padding: 5px;

    border: none;
    background: #1f3340;
    background-image: url("/img/btn-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.show-menu #menu-open {
    background-image: url("/img/btn-menu-close.svg");
    background-repeat: no-repeat;
    background-position: center;
}


