<!-- START BODY CONTENT -->
      <section><!-- Body Content -->
        
      <h1 class="component-category">body content</h1>

      <div class="bs-example row">
        <div class="col-sm-6">
          <header class="clearfix"><h2 class="component-subcat inline pull-left">Recessed Content </h2><code class="pull-left"> .well</code></header>
          <div class="well"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cumque odit, vero vel voluptatem eos, veniam amet sed repellendus, explicabo rem perferendis! Numquam reiciendis eos debitis sapiente recusandae vitae porro! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cumque odit, vero vel voluptatem eos, veniam amet sed repellendus, explicabo rem perferendis!</p></div>
        </div>

        <div class="col-sm-6">
          <header class="clearfix"><h2 class="component-subcat inline pull-left">Panels </h2><code class="pull-left"> .panel .panel-default</code></header>
          <div class="panel panel-default">
            <div class="panel-heading">Aside Panel Title</div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cumque odit, vero vel voluptatem eos, veniam amet sed repellendus, explicabo rem perferendis! Numquam reiciendis eos debitis sapiente recusandae vitae porro!</p>
            </div>
          </div>
        </div>

      </div>

      <h2 class="component-subcat">Images</h2>
      <div class="bs-example row">
        <div class="col-md-3 col-sm-6 col-xs-6"><div class="img img-outline">Outlined Image</div></div>
        <div class="col-md-3 col-sm-6 col-xs-6"><div class="img">Image</div></div>
        <div class="col-md-3 col-sm-6 col-xs-6"><div class="img img-link">Image Link</div></div>
        <div class="col-md-3 col-sm-6 col-xs-6"><div class="img img-thumb">Image Thumbnail</div></div>
        <!-- <div class="col-md-3 col-sm-6 col-xs-6"><a href="#"><img src="http://lorempixel.com/200/150" alt=""></a></div> -->

      </div>

      <h2 class="component-subcat">Highlighting</h2>
      <div class="bs-example row">
        <p>Lorem ipsum dolor sit amet, <mark class="highlight">consectetur</mark> adipisicing elit.</p>
      </div>

      <h2 class="component-subcat">Keyboard Shortcuts</h2>
      <div class="bs-example row">
        <p>Lorem ipsum dolor sit amet, <kbd class="shortcut">ctrl</kbd> <kbd class="shortcut">alt</kbd> <kbd class="shortcut">delete</kbd> adipisicing elit.</p>
      </div>


      <h2 class="component-subcat">Labels</h2>
      <div class="bs-example row">
          <div class="col-xs-1"><span class="label label-lg label-default">label</span></div>
          <div class="col-xs-1"><span class="label label-lg label-slate">label</span></div>
          <div class="col-xs-1"><span class="label label-lg label-steel-blue">label</span></div>
          <div class="col-xs-1"><span class="label label-lg label-steel-blue">label</span></div>
          <div class="col-xs-1"><span class="label label-lg label-leaf">label</span></div>
          <div class="col-xs-1"><span class="label label-lg label-ocean">label</span></div>
          <div class="col-xs-1"><span class="label label-lg label-pumpkin">label</span></div>
          <div class="col-xs-1"><span class="label label-lg label-dark-red">label</span></div><hr class="hidden-hr">
          <div class="col-xs-1"><span class="label label label-default">label</span></div>
          <div class="col-xs-1"><span class="label label label-slate">label</span></div>
          <div class="col-xs-1"><span class="label label label-steel-blue">label</span></div>
          <div class="col-xs-1"><span class="label label label-steel-blue">label</span></div>
          <div class="col-xs-1"><span class="label label label-leaf">label</span></div>
          <div class="col-xs-1"><span class="label label label-ocean">label</span></div>
          <div class="col-xs-1"><span class="label label label-pumpkin">label</span></div>
          <div class="col-xs-1"><span class="label label label-dark-red">label</span></div>             














      </div>

      
      <h2 class="component-subcat">Badges</h2>
      <div class="bs-example row">

      </div>         
       
          
      <h2 class="component-subcat">Ratings</h2>
      <div class="bs-example row">

      </div>

      </section>

      <!-- END BODY CONTENT -->