<nav id="nav-menu">
	<h1 class="menu-logo">Colonial Life</h1>
	<h2 class="menu-header">Digital Brand<br>Style Guide</h2>
	<a href="javascript:hideMenu();"><img id="menu-close" class="menu-toggle" src="/img/btn-menu-close.svg" alt=""></a>
	<ul>
		<li><a href="">Alert Feedback</a></li>
		<li><a href="">Body Content</a></li>
		<li><a href="">Buttons</a></li>
		<li><a href="">Forms</a></li>
		<li><a href="">Media Controls</a></li>
		<li><a href="">Navigation Methods</a></li>
		<li><a href="">Pagination</a></li>
		<li><a href="">Tables</a></li>
	</ul>
</nav>